# Web框架
flask
flask-socketio

# 音频处理和转写
faster-whisper
ffmpeg-python

# 翻译功能
deep-translator

# AI/LLM相关
langchain
langchain-openai==0.0.2.post1


# 图形生成
graphviz

# 科学计算和GPU支持
torch
numpy

# 工具包
python-dotenv

ctranslate2==4.4.0